@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}
.marquee-container{
    color: #bf7d0a;
    font-weight: bolder;
    font-size: 1.25rem;
    height: 25px;
    margin-top: 10px;
    align-items: center;
    
}
 
/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin: 0 140px;
}
/* nav school bag and text style */
.school{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}
.school-text{
    font-weight: bold;
    font-size: 2rem;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}
nav div ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}
.color1{
    color: #FEA301;
}
.color2{
    color: #01ACFD;
}
.color3{
    color: #05D4DF;
}
.color4{
    color: #5D58EF;
}

/* nav button style */
.nav-btn{
    background-color: #FEA301;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}
/* hero section style */
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
}
.hero-header{
    font-weight: bold;
    font-size: 3.5rem;
}
.hero-text{
    font-size: 1.25rem;
    margin: 24px 0px;
}



/* shared style */
.black-btn{
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
    font-weight: bold;
    font-size: 1.25rem;

}
/* card style */
.Standard-Curriculum{
   background-image: url(../assets/bg.png); 
   background-position: center;
   background-size: cover;
}
.curriculum-heading{
    font-size: 2.87rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin:65px  auto;
    
}
.card-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 28px;
}
.card{
    border-radius: 18.86px;
    width: 367.8px;
    height: 476.78px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05); */
    
}
.card1{
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 80%, rgba(222, 245, 255, 1) 100%);
    border: 1px solid #DEF5FF;
    box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05);
}
.card2{
    border: 1px solid #FFF4DC;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 80%, rgba(255, 244, 220, 1) 100%);
}
.card3{
    border: 1px solid #F2E8FF;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 80%, rgba(238, 225, 255, 1) 100%);
}
.card-text{
    margin: 0 40px 0 40px;
}
a {
    text-decoration: none;
}

.card-btn1{
    color: #64C8FF;
    font-size: 1rem;
    font-weight: bold;
}
.card-btn2{
    color: #F0AA00;
    font-size: 1rem;
    font-weight: bold;
}
.card-btn3{
    color: #8700FF;
    font-size: 1rem;
    font-weight: bold;
}
.card-text{
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
}
.card-heading{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
}
.img-reverse{
    transform: scaleY(-1);
}
.logo-card{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}

/* img-card-container */

.img-card-container-section{
    

    background: 
    linear-gradient(to top, #FFF4DC, #FFFFFF) ;


}
.img-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 11vw 80px;

}
.img-card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
   

}
.box-img1{
    grid-row: span 2;
}
.story{
    border-radius: 16px 16px 0 0;
}
/* .about-story{
    border-radius: 0 0 16px 16px;
    padding: 38px 24px;
} */
.img-btn{
    margin-left: 50vw;
    margin-bottom: 60px;
}
.story-heading{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 36px;
    margin-bottom: 51px;
    margin-top: 36px;
}
.story-text{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    margin: 0 36px;
}
.date-btn1{
    border-radius: 47.93px;
    color: #FFFFFF;
    background-color: #3CD8E8;
    padding: 14px 18px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 38px;
    width: 190px;
    height: 55px;
    margin-top: -33px;

}
 .date-btn2{
    border-radius: 47.93px;
    color: #FFFFFF;
    background-color: #95B226;
    padding: 14px 18px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 38px;
    width: 190px;
    height: 55px;
    margin-top: -39px;
} 
.date-btn3{
    border-radius: 47.93px;
    color: #FFFFFF;
    background-color: #5D58F0;
    padding: 14px 18px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 38px;
    width: 190px;
    height: 55px;
    margin-top: -39px;
}
.date-btn4{
    border-radius: 47.93px;
    color: #FFFFFF;
    background-color: #95B226;
    padding: 14px 18px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 38px;
    width: 190px;
    height: 55px;
    margin-top: -39px;
}
.date-btn5{
    border-radius: 47.93px;
    color: #FFFFFF;
    background-color: #95B226;
    padding: 14px 18px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 38px;
    width: 190px;
    height: 55px;
    margin-top: -39px;
}
/* footer style */
footer{
    background-color: #01ACFD;
    border: 0.1px solid #77d1fa;
    
}
.footer-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    justify-items: center;
    margin: 123px 140px 174px;
}
.footer-logo{
    display: grid;
    grid-template-columns: repeat(2,80px);
    margin-bottom: 35px;
}
footer div div p{
    max-width: 400px;
    font-weight: 400;
    font-size: 1.25rem;
    color: #FFFFFF;
}
footer div div ul li{
    list-style: none;
    
}
.color{
    color: #FFFFFF;
}
.font{
    font-size: 1.25rem;
    font-weight: 500;

}
footer div div div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 32px;
}

/* media style */
@media screen and (max-width: 569px) {
    .nav-list{
        visibility: hidden;
    }
    .nav-btn{
        display: none;
    }
    
    /* .menu{ 
        display: block;
    } */
   .hero-container{
    flex-direction: column-reverse;
   }
   nav{
    background-image: url(../assets/menu.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 10px;
   }
   .card-container{
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    justify-items: center;
    
   }
   .card{
    width: 100%;
   }
}

